/*!
 * Copyright 2016-2017 GrammarSoft ApS <info@grammarsoft.com> at https://grammarsoft.com/
 * Linguistic backend by Eckhard Bick <eckhard.bick@gmail.com>
 * Frontend by Tino Didriksen <mail@tinodidriksen.com>
 *
 * This project is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This project is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this project.  If not, see <http://www.gnu.org/licenses/>.
 */

.tabbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	margin-bottom: 18px;
}
.tab {
	display: block;
	text-align: center;
	flex-grow: 1;
	height: 100%;
	line-height: 60px;
	border: 1px solid #ddd;
	color: #000;
	font-size: 16px;
}
.tab:hover {
	background-color: #eaf7fe;
}
.tab.selected {
	background-color: #4a90e2;
	color: #fff;
}

.pane {
	position: relative;
}

.sidebar {
	position: absolute;
	width: 250px;
	left: 18px;
	padding: 0;
}
.column {
	position: absolute;
	left: calc(250px + 18px + 18px);
	right: 18px;
}
