/*!
 * Copyright 2016-2018 GrammarSoft ApS <info@grammarsoft.com> at https://grammarsoft.com/
 * Linguistic backend by Eckhard Bick <eckhard.bick@gmail.com>
 * Frontend by Tino Didriksen <mail@tinodidriksen.com>
 *
 * This project is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This project is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this project.  If not, see <http://www.gnu.org/licenses/>.
 */

html {
	height: 100%;
	box-sizing: border-box;
	position: relative;
}

* {
	vertical-align: top;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	width: 100%;
}

body {
	min-height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.whiteblue {
	color: #eaf7fe;
}
.lightblue {
	color: #0da9f6;
}
.lightblue_dis {
	color: #99ddfc;
}
.gray_dis {
	color: #9b9b9b;
}
.blue {
	color: #4a90e2;
}
.orange {
	color: #f5a623;
}
.darkorange {
	color: #e6930a;
}

ul {
	list-style-type: none;
}

#error {
	display: flex;
	background-color: #fee;
	margin: 0 0 10px;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

#error, .sidebar {
	padding: 0 18px;
	/* border-bottom: 1px dotted #ccc; */
}

#error-text {
	padding: 18px 0;
	color: #f00;
}

.closable {
	position: relative;
}
.closer {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: bold;
}

.row {
	margin-top: 18px;
}

.buttonbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.buttonbar-edges {
	justify-content: space-between;
}
.buttonbar-wide {
	margin-left: -9px;
	margin-right: -9px;
}
.buttonbar-wide button {
	min-width: 87px;
}

.spacer {
	display: block;
	height: 18px;
}
.divider {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 18px;
}

.left {
	text-align: left;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.justify {
	text-align: justify;
}

button, .btn {
	vertical-align: middle;
	text-align: center;
	border: 0px;
	padding: 0 5px;
	min-height: 30px;
	min-width: 80px;
	color: #fff;
	cursor: pointer;
}

button {
	margin: 5px 0;
	border-radius: 3px;
	line-height: 18px;
}

.btn {
	line-height: 30px;
}
.btn-top {
	border-radius: 3px 3px 0 0;
}
.btn-bottom {
	border-radius: 0 0 3px 3px;
}

.btn-big {
	font-size: 15px;
	border-radius: 6px;
	margin: 5px;
	min-height: 40px;
	min-width: 180px;
	display: inline-block;
	clear: both;
	line-height: 22px;
}

.btn-link {
	padding: 0;
	background-color: transparent;
	font-weight: bold;
	color: #0da9f6;
}
.btn-link.left span {
	margin-right: 5px;
}
.btn-link.right span {
	margin-left: 5px;
}

.btn-blue {
	background-color: #4a90e2;
}
.btn-blue:hover, .btn-blue:focus {
	background-color: #326299;
}

.btn-orange {
	background-color: #f5a623;
}
.btn-orange:hover, .btn-orange:focus {
	background-color: #cc891d;
}

.btn-darkorange {
	background-color: #e6930a;
}
.btn-darkorange:hover, .btn-orange:focus {
	background-color: #b37107;
}

.btn-lightblue {
	background-color: #0da9f6;
}
.btn-lightblue:hover, .btn-lightblue:focus {
	background-color: #097ab3;
}

a, .link {
	text-decoration: none;
	cursor: pointer;
	color: #4a90e2;
}
a:hover, a:focus, .link:hover, .link:focus {
	color: #326299;
}

.disabled {
	cursor: auto;
}

button.disabled {
	background-color: #d9d9d9 !important;
}
button.disabled.selected {
	border: 1px solid #d9d9d9;
	background-color: #fff !important;
	color: #d9d9d9;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #0da9f6;
	margin: 10px 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
h2 {
	font-size: 14px;
	font-weight: bold;
	color: #000;
}

h1, .text {
	margin: 18px 0;
}

.backed {
	padding: 18px 0;
	margin: 0 0 10px 0;
	background-color: #eaf7fe;
	margin-left: -18px;
	margin-right: -18px;
	padding-left: 18px;
	padding-right: 18px;
}

label {
	cursor: pointer;
	display: block;
	clear: both;
	margin: 9px 0;
	color: #0da9f6;
}

label * {
	display: inline-block;
}

label input[type="checkbox"] {
	margin: 2px 9px 0 0;
}

label span {
	max-width: calc(100% - 30px);
}

input[type="text"] {
	border-radius: 5px;
	border: 2px solid #4a90e2;
	width: 100%;
	padding: 3px;
	margin: 0;
}

.crbox {
	position: relative;
	padding-left: 27px;
}
.crbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.crbox .checkbox, .crbox .radio {
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 20px;
	height: 17px;
}
.crbox .radio {
	width: 19px;
	height: 19px;
}
.crbox input ~ .checkbox {
	background-image: url('../imgs/checkbox-unchecked.png');
	top: 1px;
}
.crbox input:checked ~ .checkbox {
	background-image: url('../imgs/checkbox-checked.png');
	top: 0;
}
.crbox input ~ .radio {
	background-image: url('../imgs/radio-unchecked.png');
}
.crbox input:checked ~ .radio {
	background-image: url('../imgs/radio-checked.png');
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
