/*!
 * Copyright 2016-2017 GrammarSoft ApS <info@grammarsoft.com> at https://grammarsoft.com/
 * Linguistic backend by Eckhard Bick <eckhard.bick@gmail.com>
 * Frontend by Tino Didriksen <mail@tinodidriksen.com>
 *
 * This project is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This project is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this project.  If not, see <http://www.gnu.org/licenses/>.
 */

.suggestion {
	position: relative;
	display: block;
	margin-top: 18px;
	padding-right: 38px;
}
.suggestion span {
	display: block;
	overflow-wrap: break-word;
}
.suggestion:first-child span {
	font-weight: bold;
	font-style: italic;
}
.suggestion-lookup {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

.chkProgressContainer {
	width: 100%;
	height: 15px;
	background-color: #eee;
	border-radius: 7px;
	position: relative;
}
.chkProgressBar {
	height: 100%;
	background-color: #0da9f6;
	border-radius: 7px;
	position: absolute;
}

.chkExplainLongText, .chkExplainShortText {
	margin-bottom: 14px;
}

.marking {
	display: inline-block;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 1px;
	margin-right: 1px;
	font-style: italic;
	font-weight: bold;
}
.marking-grammar {
}
.marking-comma {
	font-style: normal;
	border: 1px solid;
	border-radius: 3px;
}
.marking-red {
	color: #c12e2a;
}
.marking-red.alt:after {
	content: " ✗";
}
.marking-yellow {
	color: #eb9316;
}
.marking-yellow.alt:after {
	content: " ?";
}
.marking-green {
	color: #419641;
}
.marking-green.alt:after {
	content: " ✓";
}

#chkSuggestions {
	font-size: 16px;
}
#chkSuggestions span {
	color: #c12e2a;
}

.btnCheckAuto, .chkGrammarToComma {
	display: none;
}
